
/* FOR TESTING CSSCOMB */
.selector {
  background-color: $black;
  height: 100%;
  right: 0;
  top: 0;
  width: 0;

  @extend .another-selector;

  @media #{$medium-up} {
    width: 50%;
  }
  &.fade-out {
    @include opacity(0);
  }
  &.is-hidden {
    display: none;
  }
  .nested-selector {
    background-color: $white;
    font-size: 10px;
  }
}
.another-selector {
  border: none;
}
