

@mixin font($font-name: "Helvetica", $font-size: false, $line-height:false, $font-weight: false){

  font-family: $font-name;
  @if $font-size != false{
    font-size: $font-size;
  }

  @if $line-height != false{
    line-height: $line-height;
  }
  @else{
    line-height: $font-size + 6px;
  }

  @if $font-weight != false{
    font-weight: $font-weight;
  }
  @else{
    font-weight: 300;
  }

}

//clearfix
.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
