// REM IS FOR LAYOUT LEVEL ADJUSTMENTS
// EM IS FOR TYPE RELATIVE ADJUSTMENTS

html, body {
  font-size: $font-size;
  font-weight: 400;
  line-height: $line-height-body;
}

// this helps with link color
a {
  color: inherit;
  &:hover {
    color: inherit;
  }
}

h1, h2, h3, h4, h5, h6 {
	line-height: $line-height-header;
}

.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.align-justify {
  text-align: justify;
}

.t1 {
  font-size: (1rem * nth($type-scale-ratio, 1) * nth($type-scale-ratio, 1) * nth($type-scale-ratio, 1));

  &.alt {
    font-size: (1rem * nth($type-scale-ratio, 2) * nth($type-scale-ratio, 2) * nth($type-scale-ratio, 2));
  }
}
.t2 {
  font-size: (1rem * nth($type-scale-ratio, 1) * nth($type-scale-ratio, 1));

  &.alt {
    font-size: (1rem * nth($type-scale-ratio, 2) * nth($type-scale-ratio, 2));
  }
}
.t3 {
  font-size: (1rem * nth($type-scale-ratio, 1));

  &.alt {
    font-size: (1rem * nth($type-scale-ratio, 2));
  }
}
.t4 {
  font-size: 1rem;
}
.t5 {
  font-size: (1rem / nth($type-scale-ratio, 1));

  &.alt {
    font-size: (1rem / nth($type-scale-ratio, 2));  
  }
}
.t6 {
  font-size: (1rem / nth($type-scale-ratio, 1) / nth($type-scale-ratio, 1));

  &.alt {
    font-size: (1rem / nth($type-scale-ratio, 2) / nth($type-scale-ratio, 2));
  }
}