$global-font-size: 16px;
$line-height-body: 1.45em;
$font-name: "Helvetica";

html, body {
  font-size: $global-font-size;
  font-weight: 400;
  line-height: $line-height-body;
}

// set line length only here
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
